{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>App Notas | {{title}}</title>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<!-- descripcion de la pagina -->
		<meta name="description" content="Sitio Web para TODOS / notas / recordatorios">
  <!-- link canocio -->
  <link rel="canonical" href="#">
	  <!-- favicon -->
  <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
	  <!-- icono para apple -->
  <link rel="apple-touch-icon"
    href="{% static 'img/favicon.ico' %}">
  <!-- color de la aplicacion -->
  <meta name="theme-color" content="#0080c0">
  <!-- twitter -->
  <meta name="twitter:card" content="summary">
  <meta property="og:type" content="website">
  <!-- titulo para twitter -->
  <meta property="og:title" name="twitter:title" content="Sitio Web para TODOS / notas / recordatorios">
  <!-- descripcion para twitter -->
  <meta property="og:description" name="twitter:description"
    content="Sitio Web para TODOS / notas / recordatorios">
  <!-- imagean a mostrar al compartir -->  
  <meta property="og:image" name="twitter:image"
    content="#">
   <!-- link para twitter -->
  <meta property="og:url" name="twitter:url"
    content="#">
		<!-- Bootstrap CSS v5.2.1 -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
			crossorigin="anonymous"
		/>
		<!-- main -->
		<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
	</head>

	<body>
		<header>
			<!-- place navbar here -->
			<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
				<div class="container">
					<a class="navbar-brand" href="{% url 'home' %}">App de notas 
					</a>
					<button
						class="navbar-toggler"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#navbarTogglerDemo02"
						aria-controls="navbarTogglerDemo02"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
							</li>
						{% if user.is_authenticated %}
							<li class="nav-item dropdown">
								<a
									class="nav-link dropdown-toggle active"
									href="#"
									id="navbarDropdownMenuLink"
									role="button"
									data-bs-toggle="dropdown"
									aria-expanded="false"
								>
									Tareas
								</a>
								<ul
									class="dropdown-menu"
									aria-labelledby="navbarDropdownMenuLink"
								>
									<li>
										<a class="dropdown-item" href="{% url 'tasks' %}">Tareas Pendientes</a>
									</li>
									<li>
										<a class="dropdown-item" href="{% url 'tasks_complete' %}">Tareas completadas</a>
									</li>
									<li><a class="dropdown-item" href="{% url 'tasks_create' %}">Crear Tarea</a></li>
								</ul>
							</li>
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="{% url 'loguot' %}">Logout</a>
							</li>
							{% else %}
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="{% url 'signin' %}">Signin</a>
							</li>
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="{% url 'signup' %}">Signup</a>
							</li>
							{% endif %}
							<li>
								<p>
									{% if user.is_authenticated %}
										|	User : {{ user.username }}
									{% endif %}
								</p>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<main class="mb-5">{% block content %} {% endblock %}</main>
		<footer class="fixed-bottom bg-primary">
			<!-- place footer here -->
			<div class="row">
				<p class="text-center pt-3 text-bg-primary">Diseñado y creado por @Aldebaran</pc>
			</div>

		</footer>
		<!-- Bootstrap JavaScript Libraries -->
		<script
			src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
			integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
			crossorigin="anonymous"
		></script>

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
			integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
			crossorigin="anonymous"
		></script>
		<!-- main -->
		<script src="{% static 'js/script.js' %}"></script>
	</body>
</html>


